@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*---------- HEADER ----------*/

header {
  background: #80ff80;
  height: 25%;
  width: 100%;
}


/*---------- CONTENT AREA ----------*/

.col {
  background: #80ff80;
  width: 100%;
  height: 50%;
  float: left;
}

#bgc {
  background: #80ff80;
}

/*---------- FOOTER ----------*/

footer {
  background: #80ff80;
  height: 25%;
  width: 100%;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	body {
    background: #ffff80;
    width: 100%;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
	body {
    background: #ffb3f0;
    width: 100%;
  }
}
